.DS_Store
/node_modules
**/node_modules**
.gobble*
dist
*.env
env
**.env**
**/.env
_actual
_actual.js
coverage
.commithash
.idea
test/_tmp
test/hooks/tmp
test/tmp
test/typescript/typings
perf/
.nyc_output/